@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,600|Poppins:400,600i|Source+Code+Pro:400,700&display=swap');

#main{
    background:#000;
    color:#fff;
}

.profile-pic-wrapper{
    padding:5px;
    width: auto;
    box-shadow: rgba(0,0,0,0.5) 0 5px 3px;
}

.source-code{
    font-family: 'Source Code Pro', monospace;
}
.hindi{
    font-family: 'Poppins', sans-serif;
}
.encoded{
    font-family: 'Encode Sans', sans-serif;
}.encoded-semibold{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
}
.intro-ul{
    padding: 0 15px;
    list-style-type: none;
}
#main a{
    color:#006400;
}