@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
  background-color: #222;
  font-size: 16px;
}

ul {
  list-style: none;
}
*::-moz-selection {
  background: #4054b2;
  color: #fff;
}
*::selection {
  background: #4054b2;
  color: #fff;
}
p::-moz-selection {
  background-color: #f1c40f;
  color: initial;
}
p::selection {
  background-color: #f1c40f;
  color: initial;
}
dl,
ol,
ul {
  margin: 0;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin: 20px -25px;
}

.bg-black {
  background-color: #000;
  color: #fff;
  padding: 15px;
}
a {
  color: #fff;
}
a:hover {
  color: #0ef;
  text-decoration: none;
}

.imp {
  color: #7d8cff;
}

.btn-main {
  padding: 8px;
  cursor: pointer;
  background-color: #0f0;
  color: #000;
  line-height: 1.5;
}
.fa {
  font-size: 0.9rem;
}


#key-data tr td:first-child {
  text-align: right;
  padding-right: 5px;
  line-height: 2;
}
#key-data tr td:nth-child(2) {
  color:#9c9c9c;
}

.skill-tags span{
  padding:4px;
  line-height: 2;
  border-radius: 4px;
  color: black;
  background-color: #d8d8d8;
  white-space: nowrap;
}